.container {
    padding: 2rem 0 4rem;
}

.configs {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px;
    background: linear-gradient(360deg, #FFFFFF 5.12%, rgba(160, 241, 242, 0) 159.94%);
    filter: drop-shadow(8px 8px 20px rgba(41, 136, 180, 0.322));
    padding: 2rem;
    border-radius: 10px;
    position: relative;
}

.configs h2 {
    font-weight: 500;
    font-size: 32px;
    color: #2703A5;
    margin-bottom: 40px;
}

.configs > button,
.configs > a {
    background-color: #2703A5;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    position: absolute;
    transition: 400ms;
}

.configs > button:hover,
.configs > a:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.configs > a {
    top: 40px;
    right: 20px;
}

.configs > button {
    bottom: 40px;
    right: 20px;
}

.configsDescription {
    margin-bottom: 30px;
}

.configsDescription h3 {
    font-weight: 500;
    font-size: 20px;
    color: #474747;
    margin-bottom: 10px;
}

.configsDescription p {
    font-weight: 400;
    font-size: 14px;
    color: #474747;
}

.configsAccount form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 30px;
}

.configsAccount form button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    background-color: #2703A5;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    transition: 400ms;
}

.configsAccount form button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.field {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.field label {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #474747;
    margin-bottom: 8px;
}

.field input {
    width: 100%;
    height: 40px;
    border: 1px solid #C1C1C1;
    border-radius: 6px;
    padding: 0 1rem;
    outline: none;
    font-size: 14px;
    color: #474747;
    letter-spacing: 1px;
}

.fieldContainer {
    width: 100%;
}

.field:focus-within input {
    border: 1px solid #2703A5;
}

.field:focus-within label {
    color: #2703A5;
}

.profile {
    margin-top: 60px;
}

.profile h3 {
    font-weight: 500;
    font-size: 20px;
    color: #474747;
    margin-bottom: 20px;
}

.profile p {
    font-weight: 400;
    font-size: 14px;
    color: #474747;
}

.profile form {
    margin-top: 30px;
}

.profileFieldContainer {
    width: 100%;
}

.profile form button {
    padding: 1rem 2rem;
    background-color: #2703A5;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    transition: 400ms;
}

.profile button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.profileFieldRow {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.profileFieldRow label {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #474747;
    margin-bottom: 8px;
}

.profileFieldRow textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #C1C1C1;
    border-radius: 6px;
    padding: 1rem;
    outline: none;
    font-size: 14px;
    color: #474747;
    letter-spacing: 1px;
    resize: none;
}

.profileFieldRow:focus-within textarea {
    border: 1px solid #2703A5;
}

.profileFieldRow:focus-within label {
    color: #2703A5;
}

.plan {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px;
    padding: 2rem;
    border-radius: 10px;     
    background: linear-gradient(360deg, #FFFFFF 5.12%, rgba(160, 241, 242, 0) 159.94%);
    filter: drop-shadow(8px 8px 20px rgba(41, 136, 180, 0.322));
}

.planHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.planHeader p {
    font-weight: 500;
    font-size: 24px;
    color: #2703A5;
}

.planHeader button {
    background-color: #2703A5;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    transition: 400ms;
}

.planHeader button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.planTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.planTitle h3 {
    font-weight: 500;
    font-size: 64px;
    color: #2703A5;
    text-transform: uppercase;
}

.planTitle p {
    font-weight: 500;
    font-size: 20px;
    color: #474747;
    text-transform: uppercase;
}

.planFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.planFooter button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 500;
    transition: 400ms;
}

.planFooter button img {
    display: block;
    object-fit: contain;
    margin-left: 8px;
}

.planFooter button:first-of-type {
    background-color: #FFFFFF;
    color: #2703A5;
    border: 1px solid #2703A5;
}

.planFooter button:first-of-type:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.planFooter button:last-of-type {
    background-color: #2703A5;
    color: #fff;
    border: 1px solid #2703A5;
    transition: 400ms;
}

.planFooter button:last-of-type:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.enterprise {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 60px;
    grid-area: enterprise;    
    padding: 2rem;
    border-radius: 10px;    
    background: linear-gradient(360deg, #FFFFFF 5.12%, rgba(160, 241, 242, 0) 159.94%);
    filter: drop-shadow(8px 8px 20px rgba(41, 136, 180, 0.322));
}

.enterpriseHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.enterpriseHeader p {
    font-weight: 500;
    font-size: 24px;
    color: #2703A5;
}

.enterpriseLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.enterpriseLogo img {
    display: block;
    width: 100%;
    max-width: 363px;
    object-fit: contain;
}

.enterpriseFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.enterpriseFooter button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #2703A5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms;
}

.enterpriseFooter button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.enterpriseFooter button img {
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        height: max-content;
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-areas: 
        "config config plan"
        "config config enterprise"
        ;
    }

    .configs {
        height: max-content;
        max-width: unset;
        grid-area: config;
        margin-bottom: 0;
    }

    .configs h2 {
        font-size: 48px;
    }

    .configsDescription h3 {
        font-size: 36px;
    }

    .configsAccount form {
        flex-direction: row;
        align-items: flex-end;
    }

    .configsAccount form:first-of-type {
        width: 100%;
        max-width: 455px;
    }

    .configsAccount form:last-of-type {
        width: 100%;
        max-width: 768px;
    }

    .configsAccount .field {
        margin: 0;
    }

    .configsAccount form button {
        padding: 11px 1rem;
        margin-left: 20px;
    }

    .fieldContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }
    
    .profile {
        margin-top: 0;
        width: 100%;
        max-width: 900px;
    }

    .profile h3 {
        font-size: 32px;
    }

    .profileFieldContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }

    .plan {
        max-width: unset;
        height: 100%;
        grid-area: plan;  
        margin: 0;
        display: flex;
        align-content: center;
        justify-content: space-between;
        flex-direction: column; 
    }
    
    .enterprise {
        max-width: unset;
        height: 100%;
        grid-area: enterprise;  
        margin: 0;
        display: flex;
        align-content: center;
        justify-content: space-between;
        flex-direction: column;   
    }
}
