.boxNPS {
    width: 100%;
    max-width: max-content;
    margin: 0 auto 30px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 4rem;
    border: none;
    border-radius: 8px;
    background: linear-gradient(360deg, #FFFFFF 5.12%, rgba(160, 241, 242, 0) 122.67%);
}

.boxNPS  > p {
    font-size: 20px;
    color: #606060;
    text-align: center;
    font-weight: 500;
}

.score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;
}

.score p {
    margin: 0;
    line-height: 0px;
    font-weight: 400;
    color: #606060;
    font-size: 24px;
    text-transform: uppercase;
}

.score h2 {
    margin: 0;
    font-weight: 700;
    font-size: 120px;
    line-height: 124px;
    color: #04CE7A;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.status p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #797979;
    margin-bottom: 0;
}

.status h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #04CE7A;
    text-transform: uppercase;
}
